:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.35;
  font-weight: 400;

  color: rgba(255, 255, 255);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}


.column {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
  flex-wrap: wrap;

}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}
